In [1]:
a=4; b=5
print("Value of a is {} and Value of b is {}".format(a,b))
print("Value of b is {} and Value of a is {}".format(b,a))
print("Value of a is {1} and Value of b is {0}".format(b,a))

Value of a is 4 and Value of b is 5
Value of b is 5 and Value of a is 4
Value of a is 4 and Value of b is 5

In [21]:
# def find_hcf(a,b):
#     while b:
#         a,b=b,a%b
#     return a
# n1=int(input("enter the number:"))
# n2=int(input("enter the number:"))

# print(find_hcf(n1,n2)

st=[1,-2,-13,-23,3]
print(all(st))

True

In [16]:
st=[0,1,3]
print(all(st))

False

In [17]:
st=[]
print(all(st))

True

In [18]:
st=[]
print(type(st))

<class 'list'>

In [22]:
st=[]
print(type(st))
vt=tuple(st)
print(type(vt))

<class 'list'>
<class 'tuple'>

In [23]:
print(divmod(13,2))

(6, 1)

In [24]:
st=[10,11,12,123]
for index , num in enumerate(st,start=0):
    print("index{0} has value {1}".format(index,num))

index0 has value 10
index1 has value 11
index2 has value 12
index3 has value 123

In [32]:
list1=range(-10,10)
#list3=list(filter(lambda x:x>0,list1))
list2=list(filter(lambda n:n%2!=0,list1))
for i in list2:
    print(i)

-9
-7
-5
-3
-1
1
3
5
7
9

In [33]:
list1=[1,2,3,4]
squared=[]
cubed=[]
for num in list1:
    squared.append(num **2)
    cubed.append(num **3)
print(squared)
print(cubed)

[1, 4, 9, 16]
[1, 8, 27, 64]

In [39]:
squared=list(map(lambda x:x **2,[1,2,3,4]))
print(squared)

[1, 4, 9, 16]

In [41]:
product=1
list=[1,2,3,4]
for num in list:
    product*= num
print(product)

24

In [48]:
from functools import reduce
list=[1,2,3,4]
product =  reduce(lambda x,y: x*y,list)
print(product)

24

In [67]:

def addition(n1, n2):
    return n1 + n2

def subtraction(n1, n2):
    return n1 - n2

def multiplication(n1, n2):
    return n1 * n2

def division(n1, n2):
    if n2==0:
        return "cannot divide by zero"
    return n1 / n2

print("Please select operation -\n"
      "1. Add\n"
      "2. Subtraction\n"
      "3. Multiply\n"
      "4. Divide\n")


select = int(input("Select operation (1-4): "))
    


n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))

if select == 1:
    print(addition(n1, n2))
elif select == 2:
    print(subtraction(n1, n2))
elif select == 3:
    print(multiplication(n1, n2))
elif select == 4:
    print(division(n1, n2))
else:
    print("Only Take Integer values")

Please select operation -
1. Add
2. Subtraction
3. Multiply
4. Divide

Select operation (1-4):  4
Enter first number:  6
Enter second number:  0

cannot divide by zero

In [73]:
def fibonocci(num):
    n1,n2 = 0,1
    for i in range (num):
        n3=n1+n2
        n1 = n2
        n2 = n3
        print(n3,end=" ")
n=int(input("enter the number of digits needed:"))
print(fibonocci(num))

enter the number of digits needed: 4

1 2 3 5 None

In [89]:
#def say(x=1,y =7):
#def say(x,y):
#def say(x=4,y,z=2):
    prod=x+y
    return prod
say(2,7)

9

In [90]:
def say(y,x=4,z=2):
    prod=x+y+z
    return prod
say(2)

8

In [91]:
def say(x,y,z):
    prod=x+y+z
    return prod
say(1,2,3)

6

In [96]:
import os
os.getcwd()

'C:\\Users\\Administrator'

In [94]:
os.getenv("Home")

In [73]:
import os

os.getenv("C:\\Users\\Administrator")
lst=open("my3.txt","w")
lst.write("this is safa.\n")
lst.write(" i am from malappuram now working at UST ")
lst.close()

41

In [122]:
lst=open("my3.txt","r")
lst.read()

'this is safa.\n i am from malappuram now working at UST '

In [123]:
lst=open("my3.txt","r")
lst.read(5)

'this '

In [124]:
lst.tell()#it will tell you the pointer position

5

In [125]:
lst.seek(3)#it will set again the pointer position to initial position

3

In [126]:
print(lst.read())

s is safa.
 i am from malappuram now working at UST

In [127]:
lst.seek(0)
for line in lst:
    print(line)

this is safa.

 i am from malappuram now working at UST

In [128]:
lst = open("my3.txt","r")
lst.readline()

'this is safa.\n'

In [134]:
lst.readline()
lst.close()

In [135]:
#renaming and deleting
 
os.rename("my3.txt","test.txt")

In [137]:
lst = open("test.txt","r")
lst.readline()

'this is safa.\n'

In [150]:
#python directory & file management
os.getcwd()

'c:\\Users\\Administrator\\Downloads'

In [149]:
os.chdir("c:\\Users\\Administrator\\Downloads") #change directory,give its path
os.getcwd()
os.listdir(os.getcwdb())

[b'desktop.ini', b'ds']

In [ ]:
os.mkdir("UST")

In [151]:
os.listdir(os.getcwdb())

[b'desktop.ini', b'ds']

In [22]:
os.mkdir("Company")
os.chdir("C:\\Users\\Administrator\\Downloads")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'Company'

In [9]:
first=open("ust.txt","w")
first.write("this is safa.\n")
first.write(" i am from malappuram now working at UST ")
first.close()

In [12]:
first=open("ust.txt","r")
first.read()

'this is safa.\n i am from malappuram now working at UST '

In [23]:
os.chdir("C:\\Users\\Administrator\\Desktop") #change directory,give its path
# first = open("top.txt","w")
# first.write("hi..\n")
# first.close()
os.getcwd()

'C:\\Users\\Administrator\\Desktop'

In [25]:
import shutil
shutil.rmtree("C:\\Users\\Administrator\\Downloads\\Company")

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\Users\\Administrator\\Downloads\\Company'

In [26]:
os.listdir(os.getcwdb())

[b'Company', b'desktop.ini', b'New folder', b'Readme - Shortcut.lnk']

In [27]:
import shutil
shutil.rmtree("C:\\Users\\Administrator\\Downloads\\Company")

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\Users\\Administrator\\Downloads\\Company'

In [28]:
# os.chdir("C:\\Users\\Administrator\\Downloads")
# os.mkdir("Training")
os.getcwd()

'C:\\Users\\Administrator\\Desktop'

In [48]:
os.chdir("C:\\Users\\Administrator\\Downloads")
os.mkdir("COMPANY")

In [50]:
os.chdir("C:\\Users\\Administrator\\Downloads\\COMPANY")

In [51]:
first=open("company.txt","w")
first.write("this is safa.\n")
first.write(" i am from malappuram now working at UST ")
first.close()

In [52]:
first=open("company.txt","r")
first.read()
first.close()

In [53]:
os.chdir("C:\\Users\\Administrator\\Downloads")

In [54]:
os.getcwd()

'C:\\Users\\Administrator\\Downloads'

In [55]:
import shutil
shutil.rmtree("C:\\Users\\Administrator\\Downloads\\COMPANY")

In [56]:
os.listdir(os.getcwdb())

[b'SAFA', b'Training', b'ust.txt']

In [75]:
import sys#TO FIND THE TYPE OF EXCEPTION
lst = ['b',0,2]
for entry in lst:
    try:
        
        print("value is:",entry)
        k=1/int(entry)
    except:
        print("Oops!!!..",sys.exc_info(),"occured.")#exc_info()iS A LIBRARY WILL GIVE YOU THE INFORMATION ABT THE TYPE OF ERROR.
        print("next entry.")
        print("*********")
print("The reciprocal of", entry,"is",k)

value is: b
Oops!!!.. (<class 'ValueError'>, ValueError("invalid literal for int() with base 10: 'b'"), <traceback object at 0x000001B192E6E140>) occured.
next entry.
*********
value is: 0
Oops!!!.. (<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x000001B192E6C380>) occured.
next entry.
*********
value is: 2
The reciprocal of 2 is 0.5

In [61]:
import sys#TO FIND THE TYPE OF EXCEPTION,this is not a good practice use exc_info()for all kind of errors.
lst = ['b',0,2]
for entry in lst:
    try:
        
        print("value is:",entry)
        k=1/int(entry)
    except(ValueError):
        print("this is value error")
    except(ZeroDivisionError):
        print("this is zero division error.")
    except:
        print("other error")
print("The reciprocal of", entry,"is",k)

value is: b
this is value error
value is: 0
this is zero division error.
value is: 2
The reciprocal of 2 is 0.5

In [65]:
import os
os.chdir('C:\\Users\\Administrator')
try:
    f=open('us.txt')
finally:
    print("final closed")
    f.close()

final closed

FileNotFoundError: [Errno 2] No such file or directory: 'us.txt'

In [72]:
import logging
try:
    f=open('us.txt')
except:
    logging.error("an error occured")

ERROR:root:an error occured

In [69]:
import logging
logging.basicConfig(level=logging.INFO)
logging.debug

In [80]:
import pandas as pd

df = pd.read_csv("C:\\Users\\Administrator\\Downloads\\nyc_weather.csv")
df.head(10)
df.tail(30)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [81]:
df.Events
df.Humidity

df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [82]:
df.dtypes

EST                      object
Temperature               int64
DewPoint                  int64
Humidity                  int64
Sea Level PressureIn    float64
VisibilityMiles           int64
WindSpeedMPH            float64
PrecipitationIn          object
CloudCover                int64
Events                   object
WindDirDegrees            int64
dtype: object

In [83]:
df.count

<bound method DataFrame.count of           EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    1/1/2016           38        23        52                 30.03
1    1/2/2016           36        18        46                 30.02
2    1/3/2016           40        21        47                 29.86
3    1/4/2016           25         9        44                 30.05
4    1/5/2016           20        -3        41                 30.57
5    1/6/2016           33         4        35                 30.50
6    1/7/2016           39        11        33                 30.28
7    1/8/2016           39        29        64                 30.20
8    1/9/2016           44        38        77                 30.16
9   1/10/2016           50        46        71                 29.59
10  1/11/2016           33         8        37                 29.92
11  1/12/2016           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  >

In [84]:
df.shape

(31, 11)

In [85]:
df.Events.unique()

array([nan, 'Rain', 'Fog-Snow', 'Snow'], dtype=object)

In [90]:
df.Events.describe()

count        9
unique       3
top       Rain
freq         4
Name: Events, dtype: object

In [91]:
df.Events

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [92]:
df['Temperature'].max()

np.int64(50)

In [93]:
df['Temperature'].min()

np.int64(20)

In [94]:
df1=df['Temperature']>30
df1
df1.sum()

np.int64(22)

In [98]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [99]:
df['EST'][df['Events']=='Snow']

17    1/18/2016
21    1/22/2016
23    1/24/2016
Name: EST, dtype: object

In [101]:
df['EST'][df['Humidity']==70]

15    1/16/2016
Name: EST, dtype: object

In [102]:
df['EST'][df['Humidity']>=70]

8      1/9/2016
9     1/10/2016
15    1/16/2016
22    1/23/2016
Name: EST, dtype: object

In [103]:
df['EST'][df['WindSpeedMPH']==7.0]

1      1/2/2016
15    1/16/2016
25    1/26/2016
26    1/27/2016
29    1/30/2016
Name: EST, dtype: object

In [104]:
df.WindSpeedMPH.isna()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
Name: WindSpeedMPH, dtype: bool

In [105]:
marks=[10,20,30,40,50,60,70,80]
s=pd.Series(marks)
print(s,type(s))

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64 <class 'pandas.core.series.Series'>

In [108]:
marks=[10,20,30,40,50,60,70,80]
change=pd.Series(marks,index=['one','two','Three','four','five','six','seven','eight'])
print(change)

one      10
two      20
Three    30
four     40
five     50
six      60
seven    70
eight    80
dtype: int64

In [109]:
print(s.loc[0:4])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [111]:
s=pd.Series(marks,dtype='float32')
print(s,type(s))

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
6    70.0
7    80.0
dtype: float32 <class 'pandas.core.series.Series'>

In [112]:
s[3]

np.float32(40.0)

In [113]:
s.shape

(8,)

In [114]:
lst=[10,20,30,40]

In [120]:
x=pd.Series(lst)
print(x,type(x))

0    10
1    20
2    30
3    40
dtype: int64 <class 'pandas.core.series.Series'>

In [122]:
data = [10,"outer banks",80.0,"Joy"]
book=pd.Series(data,index=["slno","Book","price","Author"])
print(book,type(book))

slno               10
Book      outer banks
price            80.0
Author            Joy
dtype: object <class 'pandas.core.series.Series'>

In [123]:
list=[[1,0,1,3],[10,20,30,0],[10,20,30,40]]
df = pd.Series(list)
print(df)

0        [1, 0, 1, 3]
1     [10, 20, 30, 0]
2    [10, 20, 30, 40]
dtype: object

In [125]:
list=[[10,'safa'],[20,'Leana'],[30,'mymoon'],[40,'Ajay']]
df = pd.DataFrame(list)
print(df)

    0       1
0  10    safa
1  20   Leana
2  30  mymoon
3  40    Ajay

In [126]:
df.iloc[3,1]

'Ajay'

In [129]:
list=[[10,'safa'],[20,'Leana'],[30,'mymoon'],[40,'Ajay']]
df = pd.DataFrame(list,columns=['Rno','name'],index=['1',20,30,'four'])
print(df)

      Rno    name
1      10    safa
20     20   Leana
30     30  mymoon
four   40    Ajay

In [1]:
dictdata = {"Names":["safa","mymoon","leana","ajay"],"subjects":["python","java","c","pandas"],"ages":[65,80,85,55]}
print(dictdata)

{'Names': ['safa', 'mymoon', 'leana', 'ajay'], 'subjects': ['python', 'java', 'c', 'pandas'], 'ages': [65, 80, 85, 55]}

In [3]:
import pandas as pd 
df = pd.DataFrame(dictdata)
print(df)

    Names subjects  ages
0    safa   python    65
1  mymoon     java    80
2   leana        c    85
3    ajay   pandas    55

In [4]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df['new column'] = [10,20,30,40]
print(df)

    Names subjects  ages  new column
0    safa   python    65          10
1  mymoon     java    80          20
2   leana        c    85          30
3    ajay   pandas    55          40

In [12]:
df = df[['subjects','Names','ages','new column']]
print(df)

  subjects   Names  ages  new column
0   python    safa    65          10
1     java  mymoon    80          20
2        c   leana    85          30
3   pandas    ajay    55          40

In [14]:
df['new column2'] = range(1,5)
print(df)

  subjects   Names  ages  new column  new column2
0   python    safa    65          10            1
1     java  mymoon    80          20            2
2        c   leana    85          30            3
3   pandas    ajay    55          40            4

In [15]:
df = df.sort_values(["Names"],ascending=True)
print(df)

  subjects   Names  ages  new column  new column2
3   pandas    ajay    55          40            4
2        c   leana    85          30            3
1     java  mymoon    80          20            2
0   python    safa    65          10            1

In [16]:
df = df.sort_values(["ages"],ascending=True)
print(df)

  subjects   Names  ages  new column  new column2
3   pandas    ajay    55          40            4
0   python    safa    65          10            1
1     java  mymoon    80          20            2
2        c   leana    85          30            3

In [2]:
import pandas as s
s1 = s.read_csv("C:\\Users\\Administrator\\Downloads\\IPL Matches 2008-2020.csv")
print(s1)

          id        city        date player_of_match  \
0     335982   Bangalore  2008-04-18     BB McCullum
1     335983  Chandigarh  2008-04-19      MEK Hussey
2     335984       Delhi  2008-04-19     MF Maharoof
3     335985      Mumbai  2008-04-20      MV Boucher
4     335986     Kolkata  2008-04-20       DJ Hussey
..       ...         ...         ...             ...
811  1216547       Dubai  2020-09-28  AB de Villiers
812  1237177       Dubai  2020-11-05       JJ Bumrah
813  1237178   Abu Dhabi  2020-11-06   KS Williamson
814  1237180   Abu Dhabi  2020-11-08      MP Stoinis
815  1237181       Dubai  2020-11-10        TA Boult

                                          venue  neutral_venue  \
0                         M Chinnaswamy Stadium              0
1    Punjab Cricket Association Stadium, Mohali              0
2                              Feroz Shah Kotla              0
3                              Wankhede Stadium              0
4                                  Eden Gardens              0
..                                          ...            ...
811         Dubai International Cricket Stadium              0
812         Dubai International Cricket Stadium              0
813                        Sheikh Zayed Stadium              0
814                        Sheikh Zayed Stadium              0
815         Dubai International Cricket Stadium              0

                           team1                        team2  \
0    Royal Challengers Bangalore        Kolkata Knight Riders
1                Kings XI Punjab          Chennai Super Kings
2               Delhi Daredevils             Rajasthan Royals
3                 Mumbai Indians  Royal Challengers Bangalore
4          Kolkata Knight Riders              Deccan Chargers
..                           ...                          ...
811  Royal Challengers Bangalore               Mumbai Indians
812               Mumbai Indians               Delhi Capitals
813  Royal Challengers Bangalore          Sunrisers Hyderabad
814               Delhi Capitals          Sunrisers Hyderabad
815               Delhi Capitals               Mumbai Indians

                     toss_winner toss_decision                       winner  \
0    Royal Challengers Bangalore         field        Kolkata Knight Riders
1            Chennai Super Kings           bat          Chennai Super Kings
2               Rajasthan Royals           bat             Delhi Daredevils
3                 Mumbai Indians           bat  Royal Challengers Bangalore
4                Deccan Chargers           bat        Kolkata Knight Riders
..                           ...           ...                          ...
811               Mumbai Indians         field  Royal Challengers Bangalore
812               Delhi Capitals         field               Mumbai Indians
813          Sunrisers Hyderabad         field          Sunrisers Hyderabad
814               Delhi Capitals           bat               Delhi Capitals
815               Delhi Capitals           bat               Mumbai Indians

      result  result_margin eliminator method      umpire1         umpire2
0       runs          140.0          N    NaN    Asad Rauf     RE Koertzen
1       runs           33.0          N    NaN    MR Benson      SL Shastri
2    wickets            9.0          N    NaN    Aleem Dar  GA Pratapkumar
3    wickets            5.0          N    NaN     SJ Davis       DJ Harper
4    wickets            5.0          N    NaN    BF Bowden     K Hariharan
..       ...            ...        ...    ...          ...             ...
811      tie            NaN          Y    NaN  Nitin Menon      PR Reiffel
812     runs           57.0          N    NaN  CB Gaffaney     Nitin Menon
813  wickets            6.0          N    NaN   PR Reiffel          S Ravi
814     runs           17.0          N    NaN   PR Reiffel          S Ravi
815  wickets            5.0          N    NaN  CB Gaffaney     Nitin Menon

[816 rows x 17 columns]

In [3]:
s1.head(10)
print(s1)

          id        city        date player_of_match  \
0     335982   Bangalore  2008-04-18     BB McCullum
1     335983  Chandigarh  2008-04-19      MEK Hussey
2     335984       Delhi  2008-04-19     MF Maharoof
3     335985      Mumbai  2008-04-20      MV Boucher
4     335986     Kolkata  2008-04-20       DJ Hussey
..       ...         ...         ...             ...
811  1216547       Dubai  2020-09-28  AB de Villiers
812  1237177       Dubai  2020-11-05       JJ Bumrah
813  1237178   Abu Dhabi  2020-11-06   KS Williamson
814  1237180   Abu Dhabi  2020-11-08      MP Stoinis
815  1237181       Dubai  2020-11-10        TA Boult

                                          venue  neutral_venue  \
0                         M Chinnaswamy Stadium              0
1    Punjab Cricket Association Stadium, Mohali              0
2                              Feroz Shah Kotla              0
3                              Wankhede Stadium              0
4                                  Eden Gardens              0
..                                          ...            ...
811         Dubai International Cricket Stadium              0
812         Dubai International Cricket Stadium              0
813                        Sheikh Zayed Stadium              0
814                        Sheikh Zayed Stadium              0
815         Dubai International Cricket Stadium              0

                           team1                        team2  \
0    Royal Challengers Bangalore        Kolkata Knight Riders
1                Kings XI Punjab          Chennai Super Kings
2               Delhi Daredevils             Rajasthan Royals
3                 Mumbai Indians  Royal Challengers Bangalore
4          Kolkata Knight Riders              Deccan Chargers
..                           ...                          ...
811  Royal Challengers Bangalore               Mumbai Indians
812               Mumbai Indians               Delhi Capitals
813  Royal Challengers Bangalore          Sunrisers Hyderabad
814               Delhi Capitals          Sunrisers Hyderabad
815               Delhi Capitals               Mumbai Indians

                     toss_winner toss_decision                       winner  \
0    Royal Challengers Bangalore         field        Kolkata Knight Riders
1            Chennai Super Kings           bat          Chennai Super Kings
2               Rajasthan Royals           bat             Delhi Daredevils
3                 Mumbai Indians           bat  Royal Challengers Bangalore
4                Deccan Chargers           bat        Kolkata Knight Riders
..                           ...           ...                          ...
811               Mumbai Indians         field  Royal Challengers Bangalore
812               Delhi Capitals         field               Mumbai Indians
813          Sunrisers Hyderabad         field          Sunrisers Hyderabad
814               Delhi Capitals           bat               Delhi Capitals
815               Delhi Capitals           bat               Mumbai Indians

      result  result_margin eliminator method      umpire1         umpire2
0       runs          140.0          N    NaN    Asad Rauf     RE Koertzen
1       runs           33.0          N    NaN    MR Benson      SL Shastri
2    wickets            9.0          N    NaN    Aleem Dar  GA Pratapkumar
3    wickets            5.0          N    NaN     SJ Davis       DJ Harper
4    wickets            5.0          N    NaN    BF Bowden     K Hariharan
..       ...            ...        ...    ...          ...             ...
811      tie            NaN          Y    NaN  Nitin Menon      PR Reiffel
812     runs           57.0          N    NaN  CB Gaffaney     Nitin Menon
813  wickets            6.0          N    NaN   PR Reiffel          S Ravi
814     runs           17.0          N    NaN   PR Reiffel          S Ravi
815  wickets            5.0          N    NaN  CB Gaffaney     Nitin Menon

[816 rows x 17 columns]

In [4]:
s1.tail(30)
print(s1)

          id        city        date player_of_match  \
0     335982   Bangalore  2008-04-18     BB McCullum
1     335983  Chandigarh  2008-04-19      MEK Hussey
2     335984       Delhi  2008-04-19     MF Maharoof
3     335985      Mumbai  2008-04-20      MV Boucher
4     335986     Kolkata  2008-04-20       DJ Hussey
..       ...         ...         ...             ...
811  1216547       Dubai  2020-09-28  AB de Villiers
812  1237177       Dubai  2020-11-05       JJ Bumrah
813  1237178   Abu Dhabi  2020-11-06   KS Williamson
814  1237180   Abu Dhabi  2020-11-08      MP Stoinis
815  1237181       Dubai  2020-11-10        TA Boult

                                          venue  neutral_venue  \
0                         M Chinnaswamy Stadium              0
1    Punjab Cricket Association Stadium, Mohali              0
2                              Feroz Shah Kotla              0
3                              Wankhede Stadium              0
4                                  Eden Gardens              0
..                                          ...            ...
811         Dubai International Cricket Stadium              0
812         Dubai International Cricket Stadium              0
813                        Sheikh Zayed Stadium              0
814                        Sheikh Zayed Stadium              0
815         Dubai International Cricket Stadium              0

                           team1                        team2  \
0    Royal Challengers Bangalore        Kolkata Knight Riders
1                Kings XI Punjab          Chennai Super Kings
2               Delhi Daredevils             Rajasthan Royals
3                 Mumbai Indians  Royal Challengers Bangalore
4          Kolkata Knight Riders              Deccan Chargers
..                           ...                          ...
811  Royal Challengers Bangalore               Mumbai Indians
812               Mumbai Indians               Delhi Capitals
813  Royal Challengers Bangalore          Sunrisers Hyderabad
814               Delhi Capitals          Sunrisers Hyderabad
815               Delhi Capitals               Mumbai Indians

                     toss_winner toss_decision                       winner  \
0    Royal Challengers Bangalore         field        Kolkata Knight Riders
1            Chennai Super Kings           bat          Chennai Super Kings
2               Rajasthan Royals           bat             Delhi Daredevils
3                 Mumbai Indians           bat  Royal Challengers Bangalore
4                Deccan Chargers           bat        Kolkata Knight Riders
..                           ...           ...                          ...
811               Mumbai Indians         field  Royal Challengers Bangalore
812               Delhi Capitals         field               Mumbai Indians
813          Sunrisers Hyderabad         field          Sunrisers Hyderabad
814               Delhi Capitals           bat               Delhi Capitals
815               Delhi Capitals           bat               Mumbai Indians

      result  result_margin eliminator method      umpire1         umpire2
0       runs          140.0          N    NaN    Asad Rauf     RE Koertzen
1       runs           33.0          N    NaN    MR Benson      SL Shastri
2    wickets            9.0          N    NaN    Aleem Dar  GA Pratapkumar
3    wickets            5.0          N    NaN     SJ Davis       DJ Harper
4    wickets            5.0          N    NaN    BF Bowden     K Hariharan
..       ...            ...        ...    ...          ...             ...
811      tie            NaN          Y    NaN  Nitin Menon      PR Reiffel
812     runs           57.0          N    NaN  CB Gaffaney     Nitin Menon
813  wickets            6.0          N    NaN   PR Reiffel          S Ravi
814     runs           17.0          N    NaN   PR Reiffel          S Ravi
815  wickets            5.0          N    NaN  CB Gaffaney     Nitin Menon

[816 rows x 17 columns]